html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #FFF;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  width: 18%;
  height: 1rem;
  margin-left: auto;
  margin-top: 25px;
}

.header a {
  color: #000;
  font-size: 1rem;
  margin-top: 3px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header img {
  height: 1.2rem;
  margin-right: 60px;
  cursor: pointer;
}

@media screen and (max-width: 768px) and (min-width: 426px) {
  .header {
    display: flex;
    justify-content: space-around;
    width: 30%;
    height: 1rem;
    margin-left: auto;
    margin-top: 25px;
  }
  
  .header a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: 35%;
  }
  
  .header a {
    font-size: 0.6rem;
  }

  .header img {
    height: 1rem;
  }
}

.input-group {
  width: 40%;
  margin: 7em auto;
  text-align: center;
}

.google-title-img {
  width: 44%;
  height: 5rem;
  margin: auto;
}

.input-search-mic {
  display: flex;
  flex-direction: row;
}

input {
  width: 100%;
  height: 2.3rem;
  border-radius: 50px;
  box-shadow: 0 1px 5px rgb(195, 194, 194);
  background: #FFF;
  color: #6C6B6B;
  border: none;
  font: normal normal 1.1rem/110.19% Arial;
  margin: 35px 0;
  outline: none;
}

.google-mic {
  display: flex;
  width: 1rem;
  height: 1.4rem;
  margin-top: 2.8rem;
  margin-left: -2rem;
}

.google-search {
  display: flex;
  width: 1.2rem;
  height: 1.2rem;
  margin-top: 2.8rem;
  margin-left: -95%;
}

.google-btn button {
  width: auto;
  height: 2.5rem;
  border: none;
  padding: 1em;
  cursor: pointer;
}

.google-btn button:hover {
  border: 1px solid gray;
}


@media screen and (max-width: 425px) {
  .input-group {
    width: 65%;
    margin: 3em auto;
  }

  .google-title-img {
    height: 3rem;
  }

  input {
    height: 1.8rem;
    margin: 20px 0;
  }

  .google-btn button {
    height: 2rem;
    padding: 0.5rem;
  }

  .google-mic {
    margin-top: 1.6rem;
    margin-left: -1.8rem;
  }
  
  .google-search {
    margin-top: 1.8rem;
    margin-left: -93%;
  }
}

@media screen and (max-width: 768px) and (min-width: 426px)  {
  .input-group {
    width: 65%;
    margin: 7em auto;
  }

  input {
    margin: 20px 0;
  }

  .google-mic {
    margin-top: 2rem;
  }
  
  .google-search {
    margin-top: 2rem;
  }
}

.Language-group {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  font-size: 0.7em;
}

.Language-group a {
  padding-right: 0.6em;
}

.footer {
  background-color: #eee;
  color: #808080;
  font-size: 0.8rem;
  margin-top: 10.1em;
}

.primary-footer {
  border-bottom: 0.1px solid #e3e2e2;
  padding: 1em;
}

.secondary-footer {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.secondary-footer a {
  color: #808080;
}

.right-items a{
  margin-right: 1rem;
}

.left-items a{
  margin-right: 1rem;
}

@media screen and (max-width: 768px)  and (min-width: 426px) {
  .footer {
    background-color: #eee;
    color: #808080;
    font-size: 0.8rem;
    margin-top: 11em;
  }
  
  .secondary-footer {
    height: 3rem;
  }
  
  .right-items,
  .left-items {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    width: auto;
  }
  
  .centre-items a{
    width: 12rem;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    background-color: #eee;
    color: #808080;
    font-size: 0.3rem;
    margin-top: 10em;
  }
  
  .secondary-footer {
    height: 2rem;
  }
  
  .right-items,
  .left-items {
    margin-top: 1rem;
    width: auto;
  }
}